.deps/
FileWriter
FileWriter-FileWriter.o
FileWriter-FileWriter_base.o
FileWriter-main.o
FileWriter-port_impl.o
Makefile
Makefile.in
acinclude.m4
aclocal.m4
autom4te.cache/
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
ltmain.sh
missing
